/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 1
   Tutorial Case
   Filename: base.css

   This file contains the base styles used by all pages in the website

*/


/* =============================================
	HTML5 structural elements
   =============================================
*/

article, aside, details, dl, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}


/* =============================================
	Default colors, margins and sizing
   =============================================
*/

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
	font-family: serif;
	color: #222;
}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}




/* =============================================
	Default font styles
   =============================================
*/

abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}



/* =============================================
	Default list styles
   =============================================
*/

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


/* =============================================
	Default styles for images and media
   =============================================
*/

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
figure {
	margin: 0;
}

/* =============================================
	Default styles for web forms
   =============================================
*/

form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}



/* =============================================
	Default styles for web tables
   =============================================
*/

